{% extends "base.html" %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock title %}

{% block content %}
  <h1 class="title-1">
    {% if subject %}
      {{ subject.title }} courses
    {% else %}
      All courses
    {% endif %}
  </h1>
  <br>

  <div class="grid grid-cols-3 gap-2">
  <div class="col-span-1 bg-slate-900 min-h-[100vh] p-3">
    <h3 class="title-2">Subjects</h3>
    <ul id="modules">
      <li class=" p-3 m-1 {% if not subject %}bg-teal-800 {% else %}bg-slate-800 hover:bg-blue-800 cursor-pointer{% endif %}">
        <a href="{% url "course_list" %}">All</a>
      </li>
      {% for s in subjects %}
        <li class="p-3 m-1 {% if subject == s %}bg-teal-800 {% else %}bg-slate-800 hover:bg-blue-800 cursor-pointer{% endif %}">
          <a href="{% url "course_list_subject" s.slug %}">
            {{ s.title }}
            <br>
            <span>
              {{ s.total_courses }} course{{ s.total_courses|pluralize }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="p col-span-2">
    {% for course in courses %}
      {% with subject=course.subject %}
      <div  class="bg-green-900 my-2 p-2 model-content">
        <h3 class="title-2">
          <a href="{% url "course_detail" course.slug %}" >
            {{ course.title }}
          </a>
        </h3>
        <p>
          <a href="{% url "course_list_subject" subject.slug %}" class="link">{{ subject }}</a>. 
          {{ course.total_modules }} modules. 
          <span class="text-amber-500">
          Instructor: {{ course.owner.get_full_name|default:course.owner.username }}
          </span>
        </p>
      </div>
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock content %}